html {
    scroll-behavior: smooth;
}

#bgVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

.zold {
    color: green;
    display: inline;
}

#meno-felsorolas {
    list-style: none;
}

.cont-img {
    max-width: 30%;
}